<!DOCTYPE html>
<html lang="en">


    <head>
    <meta charset="utf-8" />
    <title>SEDI TITOLO</title>
    </head>

    <div class="container">
        <div class="card">
            <h3> SEDI </h3>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>Id</th>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let sede of sedi">
                            <td>
                                {{sede.id}}
                                {{sede.codice}}
                                {{sede.citta}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form name="form" #f="ngForm" (ngSubmit)="buttonClick()">

    <div class="form-group">
        <label for="codice">CODICE</label>
        <input type="text"
        id="codice"
        class="form-control"
        name="codice"
        placeholder="codice sede"
        [(ngModel)]=codice/>
        
        <button type="submit">
            SCEGLI SEDE
        </button>
        </div>
    </form>

    <button onclick="location.href='date'" type="button">GET DATE</button>

</html>
