<!DOCTYPE html>
<html lang="en">


    <head>
    <meta charset="utf-8" />
    <title>SEDI TITOLO</title>
    </head>

    
<div class="container" *ngIf="view=='0'">
    
    <form name="quiz" name="buttons" id="quiz" (ngSubmit)="gestisciQuiz()">

        <li><div class="question">Attualmente ha problemi di salute?</div></li>
        <input id="answer" type="radio" name="group1" value="true" [(ngModel)]="risposta1"> SI<br>
        <input id="answer" type="radio" name="group1" value="false" [(ngModel)]="risposta1"> NO<hr>
    
    
        <li><div class="question">Ha l’AIDS o è portatore del virus HIV o crede di esserlo?</div></li>
        <input id="answer" type="radio" name="group2" value="true" [(ngModel)]="risposta2">SI<br>
        <input id="answer" type="radio" name="group2" value="false" [(ngModel)]="risposta2">NO<hr>
    
        <li><div class="question">Ha o ha avuto l’epatite B o C o è portatore del virus?</div></li>
        <input id="answer" type="radio" name="group3" value="true" [(ngModel)]="risposta3"> SI<br>
        <input id="answer" type="radio" name="group3" value="false" [(ngModel)]="risposta3">NO<hr>
    
        <li><div class="question">Ha mai assunto o assume sostanze stupefacenti?</div></li>
        <input id="answer" type="radio" name="group4" value="true" [(ngModel)]="risposta4"> SI<br>
        <input id="answer" type="radio" name="group4" value="false" [(ngModel)]="risposta4">NO<hr>
    
        <li><div class="question">Ha abusato o abusa di bevande alcoliche?</div></li>
        <input id="answer" type="radio" name="group5" value="true" [(ngModel)]="risposta5"> SI<br>
        <input id="answer" type="radio" name="group5" value="false" [(ngModel)]="risposta5">NO<hr>
        
        <button type="submit">CONFERMA RISPOSTE</button>
        
    </form>
</div>

    <div class="container" *ngIf="view=='1'">
        
        <div class="card">
            <h3> SEDI </h3>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>Id</th>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let sede of sedi">
                            <td>
                                {{sede.id}}
                                {{sede.codice}}
                                {{sede.citta}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    



    <form name="form" #f="ngForm" (ngSubmit)="buttonClick()" *ngIf="view=='1'">
        <div class="form-group">
            <label for="codice">CODICE</label>
            <input type="text"
            id="codice"
            class="form-control"
            name="codice"
            placeholder="codice sede"
            [(ngModel)]=codice/>

            <label for="codiceFiscale">INSERISCI CODICE FISCALE</label>
            <input type="text"
            id="codiceFiscale"
            class="form-control"
            name="codiceFiscale"
            placeholder="codice fiscale"
            [(ngModel)]=codiceFiscale/>
            
            <button type="submit">
                SCEGLI SEDE
            </button>
            </div>
    </form>

    <div class="container" *ngIf="view=='2'">
        <div class="card">
            <h3> DATE </h3>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>LISTA DATE RECUPERATE</th>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let datas of date">
                            <td>
                                <input type="radio" name="date" id="dataId" [value]="datas.id" [(ngModel)]="id">
                                <label for="dataId">
                                    ID:
                                    {{datas.id}}
                                    --
                                    DATA:
                                    {{datas.data}}
                                    --
                                    CODICE:
                                    {{datas.codice}}
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form name="form" #f="ngForm" (ngSubmit)="inviaData()" *ngIf="view=='2'">
        <div class="form-group">
            <label for="dataId"></label>            
            <button type="submit">
                CONFERMA DATA
            </button>
        </div>
    </form>

</html>