<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    
    
    <nav>


        <div class="navbar-nav">
            <ul id="menu">
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"> HOME PAGE</a>
                    
                </li>
                <li><a routerLink="/sedi" class="nav-link"> PRENOTA DONAZIONE </a></li>
                <li><a routerLink="/visualizzaprenotazioni" class="nav-link"> VISUALIZZA PRENOTAZIONI </a></li>
                <li><a routerLink="/addemergenza" class="nav-link"> INVIA RICHIESTA DI EMERGENZA</a></li>
                <li><a routerLink="/scegliemergenza" class="nav-link"> ACCETTA EMERGENZE </a></li>
                <li><a routerLink="/accettazioneemergenze" class="nav-link"> EMERGENZE ACCETTATE </a></li>
                
            </ul>
        </div>
      
    </nav>
    <router-outlet></router-outlet>
    
</body>
</html>



