<div class="container">
    <div class="card">
        <h3> ACCETTAZIONE EMERGENZE </h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>LISTA EMERGENZE ACCETTATE</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let eme of emergenze">
                        <td>
                            ID:
                            {{eme.id}}
                            --
                            CITTA
                            {{eme.citta}}
                            --
                            GRUPPO SANGUIGNO
                            {{eme.gruppoSanguigno}}
                            --                           
                            CODICE EMERGENZA
                            {{eme.codiceEmergenza}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>