<div class="container">
    <div class="card">
        <h3> DATE </h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let datas of date">
                        <td>
                            {{datas.id}}
                            {{datas.data}}
                            {{datas.codice}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<form name="form" #f="ngForm" (ngSubmit)="buttonData()">

    <div class="form-group">
        <label for="codice">DATA</label>
        <input type="text"
        id="codice"
        class="form-control"
        name="codice"
        placeholder="codice sede"
        [(ngModel)]=codice/>
        
        <button type="submit">
            SCEGLI DATA
        </button>
    </div>
</form>