<!DOCTYPE html>
<html lang="en">


    <head>
    <meta charset="utf-8" />
    <title>INVIA EMERGENZA</title>
    </head>

    <form name="form" #f="ngForm" (ngSubmit)="inviaRichiesta()" *ngIf="emergenza_view=='0'">

        <div class="form-group">
            <label for="codice">CODICE</label>
            <input type="text"
            id="codice"
            class="form-control"
            name="codice"
            placeholder="codice emergenza"
            [(ngModel)]=codiceEmergenza/>

            <label for="codice">CITTÀ</label>
            <input type="text"
            id="citta"
            class="form-control"
            name="citta"
            placeholder="città"
            [(ngModel)]=citta/>

            <label for="codice">GRUPPO SANGUIGNO</label>
            <input type="text"
            id="gruppo_sanguigno"
            class="form-control"
            name="gruppo_sanguigno"
            placeholder="gruppo sanguigno"
            [(ngModel)]=gruppoSanguigno/>
            
            <label for="codice">DONATORI RICHIESTI</label>
            <input type="text"
            id="donatoriRichiesti"
            class="form-control"
            name="donatoriRichiesti"
            placeholder="donatori richiesti"
            [(ngModel)]=donatoriRichiesti/>
            



            <button type="submit">
                INVIA RICHIESTA
            </button>
        </div>
    </form>



</html>