<div class="container">
    <div class="card">
        <h3> EMERGENZE </h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let emergenza of emergenze">
                        <td>
                            {{emergenza.id}}
                            {{emergenza.codiceEmergenza}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>